# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build
bin/
obj/
TestResults/
*.exe
*.dll
*.pdb

# EF Migrations (si tu ne veux pas les versionner)
Migrations/

# Logs et temporaires
*.log
*.tmp
*.cache
*.bak

# Base de données locale
*.mdf
*.ldf

# Configuration spécifique à l’environnement
appsettings.Development.json
appsettings.Local.json

# Autres fichiers à ignorer
*.db
*.db-shm
*.db-wal
*.sqlite
*.nupkg
packages/
*.vsidx

# Mac / Windows / Linux spécifiques
.DS_Store
Thumbs.db
